.dashboard-container {
    background-color: #111;
    color: #00ffcc;
    font-family: 'Press Start 2P', cursive;
    padding: 3rem;
    min-height: 100vh;
    width: 197vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  h2 {
    font-size: 2rem;
    text-shadow: 0px 0px 10px #00ffcc;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
  }
  
  .stat {
    background-color: #222;
    color: #00ffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff00ff;
    text-align: center;
  }
  
  .stat h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .recent-activities {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
  }
  
  .activity {
    background-color: #222;
    color: #00ffcc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff00ff;
  }
  
  .activity h4 {
    font-size: 1.5rem;
  }
  
  .activity p {
    font-size: 1rem;
  }
  