.footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: "Press Start 2P", cursive;
  }

   /* Footer */
   .footer {
    padding: 15px 0.5px; /* Adjust padding */
    font-size: 0.7rem; /* Reduce font size */
  }