
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #00ffcc;
  background-color: #222;
  color: #00ffcc;
}

@media screen and (max-width: 768px) {
  input[type="text"], input[type="email"], textarea {
    width: 100%;
  }

  .profile-container {
    padding: 2rem;
  }

  .profile-info {
    width: 100%;
  }

  .preferences-form {
    width: 100%;
  }
}
